# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
*.tfvars
*.tfvars.json
override.tf
override.tf.json
_override.tf
_override.tf.json
.terraformrc
terraform.rc

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/
.env

# Logs
*.log
master.log
worker.log

# Misc
.DS_Store
archivo.txt
remote_setup.sh
deploy.sh
cleanup.sh
*.pdf
